html,
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
}

#debug {
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
}
.sjs {
    margin: 25px auto;
}

.dialog {
    padding: 1em;
    background: #333;
    border: 3px #ddd solid;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.dialog button {
    clear: both;
    font-weight: bold;
    display: block;
    border: 0;
    padding: 10px 10px 10px 60px;
    background: #333;
    color: #fff;
    margin: 0.5em;
    font-size: 14px;
}
.dialog button.selected {
    background: url('assets/images/hand.png') left center no-repeat;
}